{layout name="layout/layout"}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                    <i class="fa fa-arrow-right"></i>
                </li>
                <li>
                    <a href="#">{{MODEL_COMMENT}}</a>
                    <i class="fa fa-arrow-right"></i>
                </li>
                <li>
                    <span>{{ACTION_COMMENT}}</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">{{MODULE_COMMENT}}
            <small>{{MODEL_COMMENT}}</small>
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                index
            </div>
        </div>
    </div>
</div>