<!--[if lt IE 9]>
<script src="/vendor/respond.min.js"></script>
<script src="/vendor/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/vendor/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<script src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/vendor/ckeditor/ckeditor.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS --><!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/assets/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="/assets/layout/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!-- BEGIN THINK-FORGE SCRIPTS -->
<script src="/assets/js/form.js" type="text/javascript"></script>
<!-- END THINK-FORGE SCRIPTS -->