<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
{include file="layout/html_head"}
<body class="page-container-bg-solid">
<!-- BEGIN CONTAINER -->
<!-- BEGIN HEADER -->
<div class="page-header navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="clearfix">
        {include file="layout/burger_trigger"}
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <h2>全景管理系统</h2>
        </div>
        <!-- END LOGO -->
        {include file="layout/top_nav"}
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container page-content-inner page-container-bg-solid">
    {include file="layout/breadcrumbs"}
    {__CONTENT__}
</div>
<!-- END CONTAINER -->
{include file="layout/js"}
{include file="layout/footer"}
</body>
</html>