<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            {volist name="menu" id="menu1"}
            <li class="heading">
                <h3 class="uppercase">{$menu1.title}</h3>
            </li>
            {present name="menu1.sub_menu"}
            {volist name="menu1.sub_menu" id="menu2"}
            {notpresent name="menu2.sub_menu"}
            <li class="nav-item">
                <a href="{:url($menu2.url)}" class="nav-link">
                    <i class="{$menu2.icon}"></i> {$menu2.title}</a>
            </li>
            {else/}
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="{$menu2.icon}"></i>
                    <span class="title">{$menu2.title}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    {volist name="menu2.sub_menu" id="menu3"}
                    <li class="nav-item">
                        <a href="{:url($menu3.url)}" class="nav-link">
                            <i class="{$menu3.icon}"></i> {$menu3.title}</a>
                    </li>
                    {/volist}
                </ul>
                {/notpresent}
            </li>
            {/volist}
            {/present}
            {/volist}
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->