<?php

declare(strict_types=1);

{{#namespace}}namespace app\{{namespace}}; {{/namespace}}
{{#uses}}

use {{use_class_fullname}};

{{/uses}}
{{comment}}
{{#is_final}}final {{/is_final}}{{#is_abstract}}abstract {{/is_abstract}}class {{name}}{{#extends}} extends {{extend_name}}{{/extends}} {
{{#traits}}
    use {{name}};
{{/traits}}
{{#properties}}
    {{comment}}
    {{scope}} {{#is_static}}static {{/is_static}}{{type}} ${{name}}{{#value}} = {{value}}{{/value}};

{{/properties}}
{{#functions}}
    {{comment}}
    {{#is_abstract}}abstract {{/is_abstract}}{{scope}} {{#is_static}}static {{/is_static}}function {{name}}({{#params}}{{param}}{{/params}}){{#has_return_type}}: {{return_type}}{{/has_return_type}}
    {
        {{code}}
    }
{{/functions}}
}
