<?php
namespace {{NAME_SPACE}};

use think\Loader;

/**
 * {{CAPTION}}
 */
class {{CLASS_NAME}} {{EXTEND_CONTROLLER}}
{
{{CONTROLLER_ACTIONS}}
    /**
     * 显示创建资源表单页，必须由子控制器实现。
     * @return \think\Response
     */
    public function create() {
        $model = Loader::model($this->controller);
{{CONTROLLER_PARAMS}}
        $model->save();
		$this->ajaxSuccess('ok', $this->module. '/' . $this->controller . '/index');
    }

    /**
     * 保存新建的资源，必须由子控制器实现。
     * @return \think\Response
     */
    public function save() {
		$_m = Loader::model($this->controller);
        $model = $_m::get(input('id'));
		{{CONTROLLER_PARAMS}}
		$model->save();
		$this->ajaxSuccess('ok', $this->module. '/' . $this->controller . '/index');
    }
}
