<?php
{{#strict_types}}

declare(strict_types=1);

{{/strict_types}}
{{namespace}}
{{#uses}}
use {{use_class_fullname}};

{{/uses}}
{{#functions}}
{{comment}}
if (!function_exists('{{name}}')) {
    function {{name}}({{#params}}{{param}}{{/params}}){{#has_return_type}}: {{return_type}}{{/has_return_type}}
    {
        {{code}}
    }
}

{{/functions}}