{layout name="layout/layout"}
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-plus font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">{{MODEL_COMMENT}} : {{ACTION_COMMENT}}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" method="post" action="{:url('{{MODULE_NAME}}/{{MODEL_NAME}}/create')}" enctype="multipart/form-data">
                <div class="form-body">
                    {{FIELD_LOOP}}
                </div>
                <div class="form-actions noborder">
                    <button type="submit" class="btn blue">提交</button>
                    <button type="button" class="btn default" onclick="history.back()">返回</button>
                </div>
            </form>
        </div>
    </div>
</div>