{layout name="layout/layout"}
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-note font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">{{ACTION_COMMENT}}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                {{FIELD_LOOP}}
            </div>
            <div class="form-actions noborder">
                <button type="button" class="btn default" onclick="history.back()">返回</button>
            </div>
        </div>
    </div>
</div>