{layout name="layout/layout"}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/">首页</a>
                    <i class="fa fa-arrow-right"></i>
                </li>
                <li>
                    <a href="{:url('{{MODULE_NAME}}/index/index')}">{{MODULE_COMMENT}}</a>
                    <i class="fa fa-arrow-right"></i>
                </li>
                <li>
                    <a href="{:url('{{MODULE_NAME}}/{{MODEL_NAME}}/index')}">{{MODEL_COMMENT}}</a>
                    <i class="fa fa-arrow-right"></i>
                </li>
                <li>
                    <span>{{ACTION_COMMENT}}</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">后台
            <small>{{MODEL_COMMENT}}</small>
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-note font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">{{ACTION_COMMENT}}</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        {{FIELD_LOOP}}
                    </div>
                    <div class="form-actions noborder">
                        <button type="button" class="btn default" onclick="history.back()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>