<?php
namespace {{NAME_SPACE}};

use think\Loader;
use {{ROOT_NAME_SPACE}}\common\helper\{File,Form};

/**
 * {{CAPTION}}
 */
class {{CLASS_NAME}} {{EXTEND_CLASS}}
{
{{CLASS_ACTIONS}}
    /**
     * 显示创建资源表单页，必须由子控制器实现。
     * @return \think\Response
     */
    public function create() {
        $model = Loader::model($this->controller);
        if (isset($model)) {
            $preset_data = [];

{{CONTROLLER_PARAMS}}

            $result = Form::validateAndSaveData(
                validate($this->controller),
                {{FIELDS_ARRAY}},
                $model,
                $preset_data
            );
            if ($result === true) {
                $this->ajaxSuccess('ok', $this->module. '/' . $this->controller . '/index');
            } else {
                $this->ajaxError($result, $this->module. '/' . $this->controller . '/index');
            }
        } else {
            $this->ajaxError('系统错误，找不到对应的数据模型', $this->module. '/' . $this->controller . '/index');
        }
    }

    /**
     * 保存新建的资源，必须由子控制器实现。
     * @return \think\Response
     */
    public function save() {
		$_m = Loader::model($this->controller);
        $model = $_m::get(input('id'));
        if (isset($model)) {
            $preset_data = [];

{{CONTROLLER_PARAMS}}

            $result = Form::validateAndSaveData(
                validate($this->controller),
                {{FIELDS_ARRAY}},
                $model,
                $preset_data
            );
            if ($result === true) {
                $this->ajaxSuccess('ok', $this->module. '/' . $this->controller . '/index');
            } else {
                $this->ajaxError($result, $this->module. '/' . $this->controller . '/index');
            }
        } else {
            $this->ajaxError('数据保存错误！');
        }
    }
}
