    /**
     * {{RELATION_CAPTION}}
     */
    public function {{RELATION_NAME}}()
    {
        return $this->{{RELATION_TYPE}}('{{RELATION_MODEL}}', '{{RELATION_FOREIGN_KEY}}', '{{RELATION_LOCAL_KEY}}');
    }
