    /**
     * {{RELATION_CAPTION}}
     */
    public function {{RELATION_NAME}}()
    {
        return $this->{{RELATION_TYPE}}('{{RELATION_MODEL}}', '{{RELATION_THIS_KEY}}', '{{RELATION_THAT_KEY}}');
    }
