<?php
namespace {{NAME_SPACE}};

/**
 * Class {{MODEL_NAME}} {{MODEL_COMMENT}}数据验证器
 * @package {{NAME_SPACE}}
 */
class {{CLASS_NAME}} extends \think\Validate
{
    protected $rule = [{{VALIDATE_FIELDS}}];
}