<?php
{{#strict_types}}

declare(strict_types=1);

{{/strict_types}}
{{namespace}}
{{#uses}}

use {{use_class_fullname}};

{{/uses}}
{{#classes}}
    {{comment}}
    {{#is_final}}final {{/is_final}}{{#is_abstract}}abstract {{/is_abstract}}class {{class_name}}{{#extends}} extends {{extend_name}}{{/extends}} {
{{#traits}}
    use {{name}};
{{/traits}}
    {{#properties}}
        {{comment}}
        {{scope}} {{#is_static}}static {{/is_static}}{{type}} {{name}}{{#has_value}} = {{value}}{{/has_value}};

{{/properties}}
    {{#functions}}
        {{comment}}
        {{#is_abstract}}abstract {{/is_abstract}}{{scope}} {{#is_static}}static {{/is_static}}function {{name}}({{#params}}{{param}}{{/params}}){{#has_return_type}}: {{return_type}}{{/has_return_type}}
    {
        {{code}}
    }
{{/functions}}
}

{{/classes}}